#translations {
    &.has-translations {
        min-height: 100px;
    }

    .translation-line {
        &.selected {
            background-color: #9acd32;
        }

        &:hover {
            background-color: #eaeaea;
        }
    }
}