#translations {
    &.has-translations {
        min-height: 100px;
    }

    .translation-line {
        &.previewing {
            background-color: #9acd32;
        }

        &.scheduled {
            cursor: pointer;
        }

        &:hover {
            background-color: #eaeaea;
        }

        button {
            outline: none;
        }
    }
}

.dropzone.dragging {
    background-color: #e0f1be;

    &::before {
        content: 'Drop files';
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        display: block;
    }
}